@import './settings.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $titleFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100svh;
  display: grid;
  grid-template-rows: 5rem 1fr;
  grid-template-areas:
    'header'
    'main';
}
